.board-one-img {
  zoom: 15%;
  cursor: zoom-in;
}

.board-pins-wrap {
  // display: flex;
  // max-width: 780px;
  // flex-wrap: wrap;
  // flex-direction: row;
}

.board-author-icon {
  height: 50px;
  width: 50px;
}

.board-index-outer {
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
}

.board-index {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  margin-left: 50px;
}

.sub-boards {
  display: flex;
  flex-wrap:wrap;
}

.board-index-create-broad {
  // height: 245px;
  width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
  // margin-left: 12px;
  margin-right: 12px;
  padding: 8px;
  position: relative;
  top: 6px;
}

.create-board-img {
  width: 300px;
  height: 242px;
  cursor: pointer;
}

.one-board {
  box-sizing:border-box;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  height: 245px;
  width: 300px;
  cursor: pointer;
}

.one-board-img {
  height: 200px;
  width: 300px;
}

.board-index-one-board-name {
  font-size:21px;
  color: #333;
  line-height: 1.2;
  font-weight: 700px;
  padding-left: 8px;
  padding-top: 8px;
  text-decoration: none;
  margin: 0px;
}

.board-index-one-board-pincount {
  font-size:14px;
  color: #333;
  font-weight: 400;
  padding-left: 8px;
  padding-top: 0px;
  margin: 0px;
}

.board-index-one-board-link {
  text-decoration: none;
}

.board-index-grid {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
  // position: relative;
  display: flex;
  // object-fit: cover;
  // position: absolute;
}

.board-index-item {
  padding: 0px;
}

.board-index-item li {
  list-style-type: none;
}

.board-index-thumb-0 img {
  width:98.667px;
  height: 99px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.board-index-thumb-1 img {
  width: 98.667px;
  height: 49.5px;
  overflow: hidden;
  object-fit: cover;
  margin-left: 2px;
  margin-right: 2px;
  // margin-bottom: 2px;
}

.board-index-thumb-2 img {
  width:98.667px;
  height: 99px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.board-index-thumb-3 img {
  width: 98.667px;
  height: 99px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  right: 300px;
  top: 101px;
}

.board-index-thumb-4 img {
  width: 98.667px;
  height: 149.5px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  right: 298px;
  top:51px;
}

.board-index-thumb-5 img {
  width: 98.667px;
  height: 99px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  right: 296px;
  top: 101px;
}
