.profile {
  margin-top: 24px;
  display:flex;
  justify-content:center;
}

.profile-header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 950px;
  padding-right: 950px;
  margin-left:50px;
}

.profile-name {
  width: 350px;
  color: black;
  display: block;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 700;
  hyphens: auto;
  letter-spacing: -0.4px;
  line-height: 43.2px;
  text-size-adjust: 100%;
  margin-left: 0px;
}

.user-show-user-icon {
  margin-right: 0px;
}

.profile-img {
  height: 106px;
  width: 106px;
  cursor: pointer;
  display: block;
  margin-right: 0px;
}

.one-img {
  zoom: 15%;
  // display: block;
  cursor: zoom-in;
  position: relative;

}

.pins-container {
  display: block;
  width: 780px;
  display: flex;
  flex-direction: row;
}

.boards-and-pins {
  position: relative;
  margin-left: 400px;
  // -webkit-box-pack: center;
  // justify-content: center;
  max-width: 800px;
}

.user-show-pins-button {
  font-family: sans-serif;
  text-decoration: none;
  padding: 15px;
  color: #8e8e8e;
  border-radius: 25px;
}

.user-show-boards-button {
  font-family: sans-serif;
  text-decoration: none;
  padding: 15px;
  color: #8e8e8e;
  border-radius: 25px;
}

.user-show-pins-button:hover, .user-show-boards-button:hover {
 background: #F0F0F0;
 border-radius: 25px;
 color: #333;
 text-decoration: underline;
}

.user-show-toggles {
  display: flex;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  position: relative;
  right: 10px;
}

.board-button, .pin-button {
  text-decoration: none;
}
